<div class="home">

    <counter [name]="'my counter'" [counterValue]="5"></counter>
    <counter></counter>

    <!-- ------------------------ -->
    <div class="divider"></div>
    <!-- ------------------------ -->

    <timer-host></timer-host>

    <!-- ------------------------ -->
    <div class="divider"></div>
    <!-- ------------------------ -->

    <namecard-host></namecard-host>

    <!-- ------------------------ -->
    <div class="divider"></div>
    <!-- ------------------------ -->

    <message-box-host></message-box-host>

    <!-- ------------------------ -->
    <div class="divider"></div>
    <!-- ------------------------ -->

    <sample3-host></sample3-host>

    <!-- ------------------------ -->
    <div class="divider"></div>
    <!-- ------------------------ -->

    <my-calc></my-calc>

    <sample-ngModel></sample-ngModel>

    <!-- ------------------------ -->
    <div class="divider"></div>
    <!-- ------------------------ -->

    <data-list></data-list>



</div>